/* App.css */


/* 16:10 캔버스 */
.app-container {
  width: 1920px;
  min-height: 1200px;
  position: relative;
  background: url("/assets/main/메인 화면.svg") center top/3000px 1200px no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

/* root-fixed(1920x1200)를 꽉 채우도록 100% 기준으로 변경 */
.app-root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* 필요하면 center로 바꿔도 됨 */

  background-color: transparent;
}